.confirmStyle{
    position: fixed;
    width: 600px;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    z-index: 1100;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px #eee;
}
.confirmStyle .icon{
    margin-bottom: 20px;
}
.confirmStyle .icon span.iconStyle{
    font-size: 40px;
    color: orange;
}
.confirmStyle .icon span.title{
    font-size: 18px;
    display: block;
}
.confirmStyle p.content{
    font-size: 20px;
    margin-bottom: 40px;
}
.confirmStyle button{
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 3px 3px 3px #eee;
    font-weight: 500;
}
.confirmStyle .confirmBtn{
    border: 2px solid green;
}
.confirmStyle .confirmBtn:hover{
    color: #fff;
    background-color: green;
}
.confirmStyle .cancelBtn{
    border: 2px solid red;
    margin-left: 10px;
}
.confirmStyle .cancelBtn:hover{
    color: #fff;
    background-color: red;
}