.productImageItem{
    border: 1px solid #eee;
    max-width: fit-content;
    min-width: 120px;
    box-shadow: 3px 3px 5px #eee;
    text-align: right;
    padding: 0 10px 5px 10px;
    margin-right: 10px;
    width: 20%;
}
.productImageItem button{
    margin-right: 0;
    border: 0;
    background-color: #ffffff;
    color: red;
    font-size: 25px;
    margin: 0;
}
.productImageItem p{
    text-align: center;
    font-size: 20px;
}