.envoiceProductStyle .buttons{
    text-align: right;
}
.envoiceProductStyle .buttons button{
    font-weight: 500;
    padding: 10px 20px;
    font-size: 19px;
    border: 2px solid #f97c19;
    box-shadow: 3px 3px 5px #eee;
    background-color: #fff;
    text-transform: capitalize;
}
.deletebtn{
    background-color: #fff;
    border: 0;
    color: red;
}