.insertModelBannerImage{
    position: fixed;
    width: 70%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 1100;
    border: 3px solid gray;
    box-shadow: 5px 5px 5px #eeeeee;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
    padding: 30px 40px;
}
.insertModelBannerImage .element .list{
    display: flex;
    flex-wrap: wrap;
}
.insertModelBannerImage .element .list>div{
    width: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.insertModelBannerImage .element .list>div input{
    cursor: pointer;
}
.insertModelBannerImage .element .list>div label{
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

