.buttonFirstStyle{
    text-align: right;
}
.buttonFirstStyle button{
    border: 2px solid red;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
}