.productContent{
    text-align: center;
}
.productContent h1{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #888;
    text-decoration: none;
}
.productContent{
    padding: 5px 10px 10px 10px;
}
.productContent .priceStyle{
    margin: 10px 0;
}
.productContent p{
    color: red;
    font-weight: 700;
    font-size: 16px;
    display: inline;
}
.productContent .rrp{
    color: gray;
    margin-left: 10px;
    text-decoration: line-through;
}
.productContent button{
    color: #fff;
    background: red;
    font-weight: 500;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    border: 0;
    cursor: pointer;
    display: inline-block;
}
.productContent button:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
}
@media (max-width: 1125px) {
    .productContent h1{
        font-size: 18px;
    }
    .productContent{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 500px) {
    .productContent h1{
        font-size: 16px;
    }
    .productContent{
        padding-left: 5px;
        padding-right: 5px;
    }
}