.Input{
    display: flex;
    margin-bottom: 15px;
}
.InputElement {
    border: 1px solid #77838f;
    padding: 5px;
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #77838f;
    border-left: 0;
}
.Input span{
    padding: 5px 12px;
    font-size: 18px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}