.LogoImagesManagement .imageList{
    display: flex;
    margin: 0 -10px;
}
.LogoImagesManagement .imageList .item{
    width: 15%;
    padding: 15px;
    position: relative;
}
.LogoImagesManagement .imageList .mainItem{
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px #eee;
}
.LogoImagesManagement .imageList .item button{
    color: red;
    font-size: 20px;
    font-weight: 700;
    background-color: inherit;
    border: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}
.LogoImagesManagement .imageList .item button:hover{
    transform: scale(1.2);
}