.container{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 650px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
.padding{
    padding: 30px 0;
}
.pd-top{
    padding-top: 70px;
}
.pdTop{
    padding-top: 30px;
}
.pdBottom{
    padding-bottom: 30px;
}
.pd-bottom{
    padding-bottom: 70px;
}
.mrTop{
    margin-top: 30px;
}
.active{
    color: #3b9f5e !important;
}
.active-yellow{
    color: yellow !important;
}

/*************************** Header ************************************/



/************************* banner ******************************************/

/************************* signin ******************************************/
.signin{
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    width: 350px;
    background-color: #ffffff;
    height: 100%;
    padding: 20px 20px 0 20px;
    
    
}
.signin .scroll{
    height: 400px;
    padding: 0 10px 50px 10px;
    overflow-y:scroll;
}
.signin .scroll::-webkit-scrollbar{
    width: 3px;
    background-color: #F5F5F5;
}
.signin .scroll::-webkit-scrollbar-thumb {
    background-color: gainsboro;
}
.signin .delete-btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.signin .delete-btn button{
    background-color: #fff;
    border: 0;
}
.signin form>div{
    display: flex;
    margin-bottom: 15px;
}
.signin form>div input{
    border: 1px solid #77838f;
    padding: 5px;
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #77838f;
    border-left: 0;
}
.signin form span{
    border: 1px solid #77838f;
    padding: 5px 12px;
    font-size: 18px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.signin form .forget{
    display: flex;
    justify-content: flex-end;
}
.signin form .forget a{
    text-decoration: none;
    border-bottom: 1px dotted #77838f;
}
.signin .login{
    width: 100%;
    background-color: #3b9f5e;
    border: 0;
    border-radius: 3px;
    padding: 7px;
    color: #ffffff;
    
}
.signin p .sign-btn{
    background-color: #fff;
    border: 0;
    color: royalblue;
    
}
.signin-img{
    position: absolute;
    bottom: 0;
    left: 0;
}
/************************* product ****************************************/


/*************************************************** introducte ***********************************************/
/*************************************************** feature ***************************************************/

/************************************************* footer *************************************************/
.footer h2{
    color: #77838f;
    margin-bottom: 30px;
}
/*************************************** header LienHe ******************************************/
.header-fix{
    position: fixed;
    top: 0;
    left: 0;
    border: 1px;
    background-color: #fff;
    z-index: 999;
    width: 100%;
    opacity: 0.9;
}