.bannerTemplate{
    position: relative;
}
.bannerTemplate .content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}
.bannerTemplate .content h1{
    font-size: 80px;
    font-weight: 900;
    text-shadow: 3px 3px 5px #eee;
}
/* ----------------------------- private-service --------------------------- */
.servicePrivate{
    padding-top: 10%;
}
/* ----------------------------- private-therest --------------------------- */
.restPrivate{
    display: flex;
    align-items: center;
}
@media (max-width: 900px) {
    .bannerTemplate .content h1{
        font-size: 60px;
    }
}
@media (max-width: 500px) {
    .bannerTemplate .content h1{
        font-size: 40px;
    }
}