.testimonial{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(http://localhost:8200/public/assets/slider/air-bubbles.jpg);
    background-position: 50% 48.1624%;
    position: relative;
    text-align: center;
}
.testimonial::before{
    background: rgba(0,0,0,0) url(https://infinitytemplate.com/Prestashop/PRS01/PRS004/themes/PRS004/assets/img/bg-bottom-pattern.png) repeat-x scroll center top;
    content: "";
    height: 54px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.testimonial::after{
    background: rgba(0,0,0,0) url(https://infinitytemplate.com/Prestashop/PRS01/PRS004/themes/PRS004/assets/img/bg-bottom-pattern.png) repeat-x scroll center bottom;
    bottom: 0;
    content: "";
    height: 54px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100%;
}
.testimonial h2{
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 3px 3px 3px #eee;

}
.testimonial p{
    font-size: 19px;
    margin-top: 50px;
    font-weight: 900;
}