.productInf .images ul.thumbs li.selected{
    border: 1px solid #fbc82b;
}
.productInf .images ul.thumbs li:hover{
    border: 1px solid #fbc82b;
}
.productInf .images .carousel .carousel-status{
    display: none;
}
.productInf .images .carousel>button{
    top: 50%;
    bottom: auto !important;
    background-color: #fbc82b;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}
.productInf .information{
    padding-left: 40px;
    padding-top: 40px;
}
.productInf .information button{
    background-color: #fbc82b;
    color: #ffffff;
    border: 0;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}
.productInf .information span.discountPrice{
    color: gray;
    text-decoration: line-through;
    margin-left: 10px;
}
.productInf .information .unitStyle{
    font-size: 18px;
    margin-top: 40px;
}
.productInf .information .discountStyle span{
    color: red;
    font-size: 20px;
}
.productInf .information .priceStyle{
    font-size: 20px;
    color: red;
    margin-top: 10px;
    font-weight: 500;
}