.element{
    margin-bottom: 10px;
}
.ckeditor{
    flex-wrap: wrap;
}
.element p{
    font-size: 18px;
}
.InputElementDesign {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElementDesign:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}
.note{
    color: red;
}