.buttonFirst{
    padding: 7px 20px;
    border: 0;
    font-weight: 600;
    border: 0;
    box-shadow: 3px 3px 5px #eee;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.main{
    background-color: #f97c19;
    color: #fff;
}
.success{
    color: #fff;
    background-color: green;
}
.danger{
    color: #fff;
    background-color: red;
}
.primary{
    color: #fff;
    background-color: teal;
}