.LoginAdmin{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginAdmin .Content{
    border: 2px solid #eee;
    padding: 30px 30px 0px 30px;
    box-shadow: 5px 5px 5px #eee;
    width: 90%;
    text-align: center;
    max-width: 500px;
}
.LoginAdmin .Content h1{
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 35px;
}
.LoginAdmin .Content .Input{
    border: 2px solid #eee;
    border-radius: 5px;
}
.LoginAdmin .Content .Input span{
    color: #fbc82b;
}
.LoginAdmin .Content .Input input{
    border: 0;
}
.LoginAdmin .Content button{
    background-color: #fff;
    color: #fff;
    border: 2px solid #fbc82b;
    background-color: #fbc82b;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}
.LoginAdmin .Content span{
    display: block;
    text-align: right;
}