
.newsItem{
    padding-top:10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    background-color: #ffff;
    border:1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    overflow: hidden;
}
.newsItem a{
    text-decoration: none;
    color: black;
}
.newsItem h2{
    color: green;
    font-size: 25pxx;
}
.newsItem .image{
    padding: 0px;
}
.newsItem .image img{
    width:100%;
    height: 100%;
}