.listfunction{
    position: fixed;
    width: 300px;
    height: 100%;
    left: 0;
    top: 0px;
    z-index: 2001;
    border-right: 2px solid #eee;
    background-color: #ffffff;
    padding-top: 10px;
}
.listfunction ul{
    margin: 0;
    list-style: none;
}
.listfunction>ul{
    padding: 0;
    padding: 15px;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 70px;
}
.listfunction>ul::-webkit-scrollbar{
    width: 1px;
    background-color: #fbc82b;
}
.listfunction>ul::-webkit-scrollbar-thumb {
    background-color: #eee;
}
.listfunction a{
    font-size: 18px;
    color: #000000;
    width: 100%;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    position: relative;
    text-transform: capitalize;
}
.listfunction a:hover{
    background-color: #fbc82b;
}
.listfunction a span.icon{
    margin-right: 10px;
    font-size: 20px;
    width: 25px;
    display: inline-block;
}
.listfunction a span.title{
    text-shadow: 7px 7px 5px #eee;
}
.listfunction a span.showArrow{
    font-size: 23px;
    position: absolute;
    right: 5px;
}
.listfunction ul.subMenu{
    display: none;
}
.listfunction ul.subMenu:active{
    display: block;
}
.listfunction>ul>li>a:focus ~ul{
    display: block;
}
.activeMenu{
    color: #f97c19 !important;
}