.headingHome{
    margin-left: auto;
    margin-right: auto;
}
.headingHome h2{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 24px;
    margin-bottom: 65px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}