p{
    margin:0;
    color:black;
}
/* a:hover{
    text-decoration: none;
} */
.newitem{
    padding-top:10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    background-color: #ffff;
    border:1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
}
.anh{
    padding: 0px;
}
.newitem img{
    width:100%;
    height: 100%;
}