section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    max-width: 1700px;
    padding-left: 50px;
    padding-right: 50px;
}
.containerAdmin{
    max-width: 1700px;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 650px){
    .containerAdmin{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.padding{
    padding: 70px 0;
}
.mrTop{
    margin-top: 50px;
}
.breadCrump ol{
    justify-content: center;
}
.visible{
    display: none !important;
}
.tableDesign{
    border: 1px solid #dee2e6;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    text-align: center;
    color: #212529;
}
.tableDesign thead{
    color: #fbc82b; 
    font-size: 18px;
}
.tableDesign thead th{
    border: 1px solid #dee2e6;
    border-bottom-width: 2px;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.tableDesign td{
    border: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
}
.tabStyle a{
    color: gray;
    font-weight: 500;
    margin-top: 20px;
    
}
.tabStyle{
    margin-bottom: 30px;
}
