.Search{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}
.Search>div{
    width: 50%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 2px;

}
.Search input{
    padding: 5px;
    width: 100%;
    border: 0;
}
.Search span{
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
}
.Search span:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}