.latestNews .item{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
}
.latestNews .item:hover .background{
    transform: scale(1.2);
    transition: all 1s;
}
.latestNews .item .background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.latestNews .item .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-weight: 500;
    padding: 20px 10px;
}
.latestNews .item .content span{
    background-color: #fbc82b;
    color: #000;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    position: absolute;
    top: 20px;
}
.latestNews .item .content>div{
    position: absolute;
    bottom: 0;
}
.latestNews .item .content>div a{
    color: inherit;
    font-weight: 700;
}
