.alertSeacond{
    width: 350px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    font-size: 19px;
    box-shadow: 3px 3px 3px #eee;
    border: 1px solid #eee;
    padding: 20px;
    color: #f97c19;
    z-index: 99999;
}
.visible{
    transform: translate(-500%,0px);
    transition: all 1s;
}
.moveIn{
    animation-name: movein;
    animation-duration: 1s;
}
@keyframes movein{
    0%{
        transform: translate(-500%,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
@keyframes moveout{
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(-500%,0px);
    }
}
