.adminHeader{
    background-color: #000000;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2000;
}
.adminHeader .content{
    display: flex;
    justify-content: space-between;
}
.adminHeader .content .logo{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminHeader .content .logo button{
    background-color: inherit;
    color: inherit;
    border: 0;
    font-size: 23px;
}
.adminHeader .content .logo button:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
.adminHeader .content .menu{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.adminHeader .content .menu>ul{
    list-style: none;
    margin: 0;
    display: flex;
}
.adminHeader .content .menu>ul>li{
    display: inline;
    margin-left: 20px;
    position: relative;
}
.adminHeader .content .menu li.avatar:hover .subMenu{
    display: block;
}
.adminHeader .content .menu span{
    margin-left: 10px;
}
.adminHeader .content .menu>ul>li a{
    color: inherit;
    text-decoration: none;
}
.adminHeader .content .menu>ul>li a:hover{
    font-size: 18px;
}
.adminHeader .content .subMenu{
    position: absolute;
    top: 20px;
    right: 0;
    width: 180px;
    display: none;
}
.adminHeader .content .subMenu>div:first-child{
    height: 25px;
}
.adminHeader .content .subMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid #fbc82b;
    background-color: #000;
    border-radius: 4px;
 }
.adminHeader .content .subMenu li{
    width: 100%;
 }
.adminHeader .content .subMenu button{
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 5px 10px;
    background-color: inherit;
    color: inherit;
    text-align: left;
    border: 0;
 }
.adminHeader .content .subMenu button:hover{
    color: #f97c19;
 }
