.HomeBanner{
    position: relative;
    margin: auto;
    overflow: hidden;
}
.HomeBanner .bannerContent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-top: 15%;
    z-index: 998;
    
}
.HomeBanner .W20{
    width: 30%;
}
.HomeBanner .W30{
    width: 40%;
}
.HomeBanner .bannerContent img{
    width: 200px;
}
.HomeBanner .bannerContent>div{
    width: 55%;
}
.HomeBanner .bannerContent p{
    color: black;
    font-size: 22px;
    margin-top: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.HomeBanner .bannerBg2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 997;
}
.HomeBanner .slider{
    overflow: hidden;
    position: relative;
}
.HomeBanner .images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(-45deg);
    position: absolute;
    left: 10%;
    bottom: 0%;
}
.HomeBanner .images div{
    width: 35%;
    padding: 15px;
    box-sizing: border-box;
}
.HomeBanner .images img{
    border: 4px solid #fff;
    box-shadow: 3px 3px 10px gray;
    border-radius: 3px;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
@media (max-width: 1200px){
    .HomeBanner .bannerContent>div{
        width: 70%;
    }
    .HomeBanner .bannerContent h1{
        font-size: 70px;
    }
}
@keyframes move{
    0%{
        transform: translate(-100px,0px);
    }
    50%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(-100px,0px);
    }
}
@media (max-width: 800px){
    .HomeBanner .bannerContent>div{
        width: 70%;
    }
    .HomeBanner .bannerContent h1{
        font-size: 70px;
    }
    .HomeBanner .bannerContent p{
        font-size: 16px;
    }
    .HomeBanner .images div{
        padding: 10px;
    }
    .HomeBanner .bannerContent img{
        width: 250px;
    }

}
@media (max-width: 700px){
    .HomeBanner .bannerContent>div{
        width: 90%;
    }
    .HomeBanner .bannerContent h1{
        font-size: 60px;
    }
    .HomeBanner .bannerContent p{
        font-size: 15px;
    }
}
@media (max-width: 550px){
    .HomeBanner .bannerContent>div{
        width: 90%;
    }
    .HomeBanner .bannerContent h1{
        font-size: 50px;
        padding-top: 10px;
    }
    .HomeBanner .bannerContent p{
        font-size: 14px;
        margin-top: 10px;
    }
    .HomeBanner .images div{
        padding: 5px;
    }
    .HomeBanner .bannerContent img{
        width: 150px;
        margin-top: 15px;
    }
}
@media (max-width: 456px){
    .HomeBanner .bannerContent p{
        display: none;
    }
}