.userHeader{
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 9999;
    font-size: 18px;
}
.homeHeader{
   position: fixed;
}
.userHeader .contentBg{
   background-color: #40A944;
   width: 100%;
   height: 100%;
   opacity: 1;
}
.homeHeader .contentBg{
   opacity: 0.8;
}
.userHeader .content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   color: #fff;
}
.userHeader .content .menu ul, .userHeader .content .sideMenu ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
.userHeader .content .menu li, .userHeader .content .sideMenu li{
   display: inline;
}
.userHeader .content .menu ul a, .userHeader .content .sideMenu ul a{
   color: inherit;
   padding: 7px 15px;
   text-decoration: none;
   font-size: 19px;
}
.userHeader .content .menu ul a:hover, .userHeader .content .sideMenu ul a:hover{
   color: black;
}
.userHeader .icon{
   display: flex;
   justify-content: flex-end;
   color: inherit
}
.userHeader .icon>div{
   margin-left: 20px;
   position: relative;
}
.userHeader .icon>div span.iconItem:hover svg{
   color: black;
}
.userHeader .icon>div a{
   color: inherit;
}
.userHeader .icon>div span.iconItem{
   position: relative;
   cursor: pointer;
}
.userHeader .icon .cart span.quantity{
   background-color: #fbc82b;
   position: absolute;
   top: -5px;
   right: -8px;
   color: black;
   font-size: 14px;
   font-weight: 800;
   width: 15px;
   height: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}
.userHeader .icon .subMenu{
   position: absolute;
   top: 20px;
   right: 0;
   width: 180px;
   display: none;
}
.userHeader .icon .subMenu>div:first-child{
   height: 25px;
}
.userHeader .icon .subMenu ul{
   list-style: none;
   margin: 0;
   padding: 0;
   border: 2px solid #fbc82b;
   background-color: #000;
   border-radius: 4px;
}
.userHeader .icon .subMenu li{
   width: 100%;
}
.userHeader .icon .subMenu a, .userHeader .icon .subMenu button{
   text-decoration: none;
   width: 100%;
   display: inline-block;
   padding: 5px 10px;
   background-color: inherit;
   color: inherit;
   text-align: left;
   border: 0;
}
.userHeader .icon .subMenu a:hover, .userHeader .icon .subMenu button:hover{
   color: #f97c19;
}
.userHeader .icon .userProfile .avatar{
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}
.userHeader .icon .userProfile .avatar .image{
   width: 25px;
   height: 25px;
   display: inline-block;
   border: 2px solid #eee;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px;
   background-color: #fff;
}
.userHeader .icon .itemMenu:hover .subMenu{
   display: block;
}
.userHeader .searchForm{
   position: relative;
}
.userHeader .searchForm>div{
   width: 50%;
   margin-left: 50%;
   border: 2px solid green;
   border-radius: 5px 10px;
   overflow: hidden;
   position: relative;
}
.userHeader .searchForm form{
   display: flex;
   
}
.userHeader .searchForm form input{
   width: 100%;
   padding: 5px;
   border-radius: 5px;
   border: 0;
}
.userHeader .searchForm form input:focus{
   outline: none;
}
.userHeader .searchForm form span{
   width: 50px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.userHeader .searchForm form span:hover{
   transform: scale(1.1);
}
.userHeader .searchForm .recomendProduct{
   border: 1px solid green;
   position: absolute;
   max-height: 300px;
   top: 100%;
   left: 0;
   right: 0;
   z-index: 2000;
   background-color: #fff;
   overflow-y: scroll;
}
.userHeader .searchForm .recomendProduct::-webkit-scrollbar {
	border-radius: 50px;
   background-color: gray;
   width: 0px;
}
.userHeader .searchForm .recomendProduct a{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: black;
   text-decoration: none;
   border-bottom: 1px solid gray;
}
.userHeader .searchForm .recomendProduct .image{
   width: 80px;
}
.userHeader .searchForm .recomendProduct p{
   margin: 0;
   padding-left: 20px;
}
.userHeader .searchForm .recomendProduct a:hover p{
   transform: scale(1.1);
}
.userHeader .menuIcon{
   display: none;
   font-size: 22px;
   font-weight: 900;
}
@media(max-width: 950px){
   .userHeader .menu{
      display: none;
   }
   .userHeader .menuIcon{
      display: block;
      cursor: pointer;
   }
   .userHeader .sideMenu .deleteBtn{
      font-size: 20px;
      text-align: right;
      padding: 10px;
   }
   .userHeader .sideMenu .deleteBtn span{
      font-weight: 700;
      color: red;
      cursor: pointer;
   }
   .userHeader .sideMenu{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1100;
      width: 300px;
      background-color: #40A944;
      box-shadow: 3px 3px 3px #eee;
   }
   .userHeader .content .sideMenu li{
      display: block;
      width: 100%;
   }
   .userHeader .content .sideMenu ul a{
      width: 100%;
      padding: 10px 10px;
      display: inline-block;
      border-bottom: 1px solid #fff;
   }
}