.titleImage{
    margin-top: 50px;
    margin-bottom: 20px;
}
.titleImage>div{
    display: flex;
    align-items: center;
}
.titleImage>div button{
    margin-left: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    padding: 5px;
    background-color: green;
    color: #ffffff;
}
.titleImage>div button:hover{
    transform: scale(1.2);
}