.loading{
    position: fixed;
    width: 600px;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    z-index: 1100;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px #eee;
}
.loading p{
    font-size: 20px;
    margin-top: 20px;
    text-transform: capitalize;
    color: red;
    font-weight: 700;
}