.addModel{
    position: fixed;
    width: 95%;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1100;
    border: 1px solid orange;
    box-shadow: 5px 5px 5px orange;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.addModel::-webkit-scrollbar{
    width: 3px;
    background-color: #F5F5F5;
}
.addModel::-webkit-scrollbar-thumb {
    background-color: gainsboro;
}
.visible{
    display: none;
}
.addBtn{
    border: 0;
    background-color: green;
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    padding:  10px 20px;
    border-radius: 3px;
    margin-top: 20px;
}
.updatebtn{
    background-color: #fff;
    border: 0;
    color: #f97c19;
}