.productImageAddedItem{
    width: 20%;
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px #eee;
    text-align: right;
}
.productImageAddedItem button{
    margin-right: 0;
    border: 0;
    background-color: #ffffff;
    color: red;
    font-size: 25px;
    margin: 0;
}