.cartProduct{
    font-size: 18px;
}
/* .cartProduct thead{
    background-color: #f97c19;
    color: #fff;
} */
@media (max-width: 950px) {
    .cartProduct{
        display: none;
    }
}
.cartProduct button{
    border: 0;
    color: red;
    background-color: transparent;
}
.cartProduct button:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
/*--------------------------- CART MOBILE --------------------------*/
.cartMobile{
    display: none;
}
.cartMobileItem{
    display: flex;
    justify-content: space-between;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 5px;
}
.cartMobileItem .image{
    width: 40%;
}
.cartMobileItem .content{
    padding-left: 10px;
    width: 60%;
    font-weight: 900;
}
.cartMobileItem .content h1{
    font-size: 20px;
    font-weight: 900;
}
.cartMobileItem .content p.money{
    color: red;
    font-weight: 900;
}
.cartMobileItem .content p.discount span{
    margin-left: 10px;
}
.cartMobileItem .content .quantumBtn{
    display: flex;
    justify-content: space-between;
}
.cartMobileItem .content .quantumBtn button{
    width: 30px;
    height: 30px;
    background-color: #f97c19;
    color: #fff;
    border: 0;
    font-weight: 900;
}
.cartMobileItem .content .quantumBtn input{
    width: 70%;
    text-align: center;
}
.cartMobileItem .deleteBtn button{
    background-color: transparent;
    border: 0;
}
@media (max-width: 950px) {
    .cartMobile{
        display: block;
    }	
}