.dashboard{
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    justify-content: center;
    z-index: 1;
}
.dashboard>div{
    text-align: center;
}
.dashboard p{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 700;
}