.titleAdmin{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.titleAdmin a{
    font-size: 20px;
}
.titleAdmin h1{
    text-transform: capitalize;
}