.payment .content{
    border: 1px solid #eee;
    padding: 20px;
}
.payment .content h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.payment .content span{
    color: red;
    font-size: 18px;
    font-weight: 600;
}
.payment .content button{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    background-color: #fbc82b;
    border: 0;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}