.paginationStyle{
    border-radius: 0 0 50% 50% / 0 0 20px 20px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    background-color: #fff;
    padding: 30px 0 50px 0;
}
.paginationStyle ul{
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.paginationItem{
    display: inline;
}
.paginationItem button{
    border: 1px solid #eee;
    background-color: #fff;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 18px;
}
.paginationItem button svg{
    color: grey;
}
.paginationItem.vv button{
    cursor: text;
}
.paginationItem button:hover{
    border: 1px solid #f97c19;
}
.paginationItem.vv button:hover{
    border: 0;
}
.paginationItem button:focus{
    border: 0;
    outline: 0;
}
.paginationStyle .active{
    border: 1px solid #f97c19;
}