.insertRoleDesgin .element>p{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}
.insertRoleDesgin .element .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.insertRoleDesgin .element .list>div{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.insertRoleDesgin .element .list>div label{
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.insertRoleDesgin .element .list>div input{
    padding: 5px;
    cursor: pointer;
}