.paymentChoose>div{
    margin: auto;
}
.paymentChoose .content{
    border: 1px solid #eee;
    width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}
.paymentChoose .content h1{
    text-transform: capitalize;
    margin-bottom: 80px;
    text-align: center;
}
.paymentChoose .content h2{
    margin-bottom: 40px;
    font-size: 23px;
}
.paymentChoose .content ul{
    list-style: none;
    display: flex;
}
.paymentChoose .content ul li{
    border: 1px solid green;
    width: 50%;
    font-size: 20px;
    padding: 40px;
    text-transform: capitalize;
    box-shadow: 5px 5px 5px #eee;
    background-color: #fff;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
}
.paymentChoose .content ul li:hover{
    border: 3px solid green !important;
    font-weight: 700;
}
.paymentChoose .content button{
    display: inline-block;
    text-decoration: none;
    width: 50%;
    background-color: #fbc82b;
    border: 0;
    margin-top: 50px;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}
.paymentChoose .content .item .images{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.paymentChoose .content .item .images .image{
    width: 10%;
    border: 1px solid #eee;
}
.paymentChoose .active{
    border: 3px solid green !important;
    font-weight: 700;
}