.alertStyle{
    position: fixed;
    width: 600px;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    z-index: 1100;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 3px 3px 5px #eee;
}
.alertStyle .icon{
    margin-bottom: 20px;
}
.alertStyle .icon span.iconStyle{
    font-size: 40px;
    color: green;
}
.alertStyle .icon span.title{
    font-size: 18px;
    display: block;
}
.alertStyle .iconDanger span.iconStyle{
    color: red;
}
.alertStyle .iconSuccess span.iconStyle{
    color: green;
}

.alertStyle p{
    font-size: 20px;
    margin-bottom: 40px;
}
.alertStyle button{
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 3px 3px 3px #eee;
    font-weight: 500;
    border: 2px solid green;
}
.alertStyle .confirmBtn:hover{
    color: #fff;
    background-color: green;
}