.catagoryFilter{
    padding-top: 50px;
    padding-bottom: 50px;
}
.catagoryFilter .heading{
    margin-left: auto;
    margin-right: auto;
}
.catagoryFilter ul{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.catagoryFilter ul li button{
    color: #000;
    background: #fbc82b;
    border: 1px solid #fbc82b;
    margin: 0;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
}
.catagoryFilter ul li button:focus{
    outline: none;
}
.catagoryFilter ul li button.active{
    font-size: 20px;
    color: #fff;
}