.loadMore{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.loadMore button{
    background-color: #fbc82b;
    color: #fff;
    padding: 8px 15px;
    font-size: 18px;
    border: 1px solid #fbc82b;
}
.loadMore button[disabled]{
    opacity: 0.4;
}