.trendingProducts{
    position: relative;
    
}
.trendingProducts button{
    position: absolute;
    top: 0;
    height: 100%;
    width: 5%;
    font-size: 50px;
    border: 0;
    background-color: transparent;
    color: #f97c19;
}
.trendingProducts button:focus{
    border: 0;
    outline: transparent;
}
.trendingProducts button:hover{
    font-size: 55px;
}
.trendingProducts .buttonPrev{
    left: 0;
}
.trendingProducts .buttonNext{
    right: 0;
}
