.uploadImageModel{
    width: 50%;
    border: 1px solid #eee;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 1050;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #eee;

}
.uploadImageModel .clipBoard {
    display: flex;
    justify-content: space-between;
}
.uploadImageModel .clipBoard input{
    width: 100%;
}
.uploadImageModel .clipBoard button{
    border: 0;
    box-shadow: 3px 3px 5px #eee;
    border: 1px solid orange;
}