.brandFilter{
    position: relative;
    margin-right: 50px;
    padding: 0;
}
.brandFilter .content{
    position: relative;
}
.brandFilter .item{
    margin-top: 15px;
    font-size: 22px;
    display: flex;
    cursor: pointer;
    /* width: fit-content; */
}
.brandFilter .item p{
    margin-right: 10px;
}
.brandFilter .model{
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    z-index: 1001;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 3px 3px 3px #eee;
    padding: 10px;
    display: inline-block;
}
.brandFilter .model .list{
    display: flex;
    flex-wrap: wrap;
}
.brandFilter .model .list>div{
    width: 50%;
}
.brandFilter .model .list input{
    margin-right: 5px;
    cursor: pointer;
}
.brandFilter .model .list label{
    cursor: pointer;
}