.formSign>div{
    border: 2px solid #eee;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.formSign h1{
    margin-bottom: 30px;
}
.formSign .content{
    width: 70%;
    display: inline-block;
}
.formSign .content>p{
    margin-top: 10px;
}
.formSign .content form>div{
    width: 100%;
    margin-top: 10px;
}
.formSign .content form>div input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 3px;
    border: 2px solid #eee;
}
.formSign .content form span{
    display: block;
    text-align: right;
    margin-top: 5px;
}
.formSign .content form button{
    padding: 8px 25px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #fbc82b;
    color: #ffffff;
    border: 0;
}
.formSign .content form p{
    display: none;
}
.formSign .alert{
    padding-top: 20px;
}
.socialStyle{
    display: flex;
    justify-content: center;
}
.socialStyle>div{
    width: 300px;
    padding: 0 5px;
}
.socialStyle>div.facebook>span button{
    width: 100%;
    height: 100%;
}
.socialStyle>div.google>button{
    width: 100%;
    height: 100%;
    border: 1px solid #eee !important;
}
@media(max-width: 900px){
    .formSign .content{
        width: 100%;
    }
}