.userFooter{
    /* background-image: url(http://localhost:8200/public/assets/slider/air-bubbles.jpg); */
    background-position: 50% 48.1624%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 19px;
    font-weight: 900;
    background-color: gray;
    color: #ffffff;
}
.userFooter::before{
    background: rgba(0,0,0,0) url(https://infinitytemplate.com/Prestashop/PRS01/PRS004/themes/PRS004/assets/img/bg-bottom-pattern.png) repeat-x scroll center top;
    content: "";
    height: 54px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.userFooter h3{
    text-shadow: 3px 3px 3px gray;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 30px;
}
.userFooter ul{
    padding: 0;
    list-style: none;
}
.userFooter ul li{
    text-decoration: none;
}
.userFooter .item{
    padding-right: 70px;
    margin-bottom: 20px;
}